@page
@model IndexModel
@{
    ViewData["Title"] = "Image Identifier";
}

    <div class="text-center">
        <h1 class="display-4">Image Identifier</h1>
        <p>Draw on the canvas and select submit to identify the image</p>
        <canvas id="drawingCanvas" width="280" height="280" style="border:2px solid blue"></canvas>
        <hr />
        <button id="identify" style="margin:10px; padding:20px; font-size: large;" onclick="identify()">Identify</button><button id="clear" style="margin:10px; padding:20px; font-size: large;" onclick="clearCanvas()">Clear</button>
        <br/>
        <span style="font-size: 30px;">Result:<span id="result" style="font-size: 40px; border:3px solid black; margin: 10px 20px; padding: 5px 20px; width:100px;"></span></span>
    </div>
